body {
  font-family: monospace, Consolas;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.post-title {
  font-size: 3rem;
  color: $lightest-color;
  text-align: center;
}

